* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #344756;
  width: 350px;
  height: 344px;
  padding-top: 36px;
  border-radius: 15px;
  margin: 20px;
}

header {
  background-color: #3d5079;
  margin: 0 35px;
  width: 280px;
  height: 70px;
}

header .result {
  color: white;
  font-size: 20px;
  text-align: right;
  padding: 23px 15px;
}
table {
  border-collapse: collapse;
}
.keypad {
  display: flex;
}

.keypad .numbers {
  margin-top: 18px;
  margin-left: 35px;
  background-color: #e1453c;
  width: 180px;
  height: 220px;
  color: white;
}

.keypad .operators {
  margin-top: 18px;
  margin-left: 20px;
  background-color: white;
  width: 80px;
  height: 220px;
  color: #e1453c;
}

.numbers table {
  display: flex;
}

.numbers tbody {
  display: flex;
  flex-direction: column;
}
.numbers tbody tr {
  height: 55px;
}
.numbers tbody tr td {
  width: 60px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  border: 1px solid white;
}
.numbers tbody tr:last-child td:first-child {
  width: 120px;
}

.numbers tbody tr:last-child td:last-child {
  width: 58.68px;
}

.operators table {
  display: flex;
  border-collapse: collapse;
}
.operators table tbody {
  display: flex;
  flex-direction: column;
}

.operators table tbody tr {
  height: 44px;
}

.operators table tbody tr td {
  text-align: center;
  line-height: 44px;
  width: 80px;
  border: #e1453c 1px solid;
  cursor: pointer;
}
